/* Bulma styles */
@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css');

body {
    background-image: url("backgroundimg.jpg");
    background-repeat: no repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
    min-height: 100vh;
    overflow-y: auto;
    color: white;
    margin: 0;
    padding: 0;
}

.fading-header {
    background: linear-gradient(#050303); /* Multicolor gradient */
    color: white;
    padding: 40px; /* Increase padding for larger header */
    text-align: center;
    font-size: 55px; /* Increase font size for larger header */
}

.search-input-form {
    margin-top: 0px;
}

.input.is-primary, .button.is-primary {
    background-color: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
    color: white;
}

.input.is-primary::placeholder {
    color: white;
    opacity: 0.5;
}

.button.is-primary {
    border: none;
}

/* Custom CSS for button color */
.button.is-white {
    background-color: white !important; /* Set button background color to white */
    color: #363636 !important; /* Set button text color */
}

/* Custom CSS for buttons in saved list */
.my-list-button {
    background-color: white !important; /* Set button background color to white */
    color: #363636 !important; /* Set button text color */
}

/* Specific style for Add to My List button */
.add-to-list {
    background-color: transparent !important; /* Set button background color to transparent */
    color: white !important; /* Set button text color to white */
    border: 1px solid white !important; /* Add border to match other buttons */
    border-radius: 5px !important; /* Add border radius to match other buttons */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition effect */
}

.add-to-list:hover {
    background-color: white !important; /* Change background color on hover */
    color: #363636 !important; /* Change text color on hover */
}

.results-container {
    margin-top: 20px;
}

.book-container, .movie-container {
    background-color: rgba(0, 0, 0, 0.526); /* Red with 10% opacity */
    color: white; /* Ensuring white text color */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    display: block; /* Change to block to ensure full width */
}

.book-container:hover, .movie-container:hover {
    background-color: rgba(10, 10, 10, 0.892); /* White with 20% opacity */
}

.book-image, .movie-image {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
}

/* Ensuring white color for book and movie info */
.book-info p, .movie-info h2, h3, p {
    color: white;
}


h2 {
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 15px;
}

/* Styling for book title */
.book-info {
    color: white;
    margin-left: 30%;
    margin-bottom: 250px;
    margin-top: -250px;
    text-align: left;
}

.movie-info {
    margin-left: 40%;
    margin-bottom: 250px;
    margin-top: -250px;
    text-align: left;
}
/*added css*/
.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
  }
  
  .success {
    background-color: #28a745;
  }
  
  .warning {
    background-color: #ffc107;
  }

  #saved-list.collapsed {
    display: none;
  }

  #saved-list a{
    color: coral;
    
    
  }
  #saved-list p{
    color: rgb(69, 205, 229);
    background: rgba(63, 57, 57, 0.253);
  }

  #pagination button{
    background-color: rgba(255, 127, 80, 0.599);
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    
  }
  #pagination button:hover{
    cursor: pointer;
    background-color: rgb(255, 127, 80);
  }